In [1]:
import pandas as pd
import numpy as np
import csv
import os
import json
import sys
import random
from time import time

In [2]:
fieldnames = ['Quarter', 'Month', 'UniqueCarrier', 'FlightNum', 'OriginAirportID', 
              'DestAirportID', 'CRSDepTime', 'DepDelay', 'CRSArrTime', 'ArrDelay', 'Cancelled', 'CancellationCode',
             'Distance']

In [3]:
def subset_data(data_path, dest_name, sample_size=.1, prog=False):
    slim = pd.DataFrame()
    files = sorted(os.listdir(data_path))
    print('total number of files: %d' % len(files))
    for i, file_name in enumerate(files[:len(files)]):
        f = os.path.join(data_path, file_name)
        num_lines = sum(1 for l in open(f))
        # sample size - about 25%
        size = int(num_lines * sample_size)

        # row indices to skip
        skip_idx = random.sample(range(10, num_lines), num_lines - size)
    
        # read the data
        data = pd.read_csv(f, skiprows=skip_idx)
        data = data[fieldnames]
        if slim.empty: slim = data.copy(deep=True)
        else: slim = slim.append(data)
        if prog: print('Done with %s' % (file_name))
    slim.loc[slim['Cancelled'] == 1, ['ArrDelay', 'DepDelay']] = np.nan
    slim.to_csv(dest_name, index=False)

In [5]:
# the csv files are located under the folder data
# eg: data/On_Time_On_Time_Performance_2015_10.csv 
subset_data('./data/', 'slim_airplanes_01perc.csv', sample_size=0.01, prog=True)

total number of files: 11
Done with On_Time_On_Time_Performance_2015_1.csv
Done with On_Time_On_Time_Performance_2015_10.csv
Done with On_Time_On_Time_Performance_2015_11.csv
Done with On_Time_On_Time_Performance_2015_12.csv
Done with On_Time_On_Time_Performance_2015_2.csv
Done with On_Time_On_Time_Performance_2015_4.csv
Done with On_Time_On_Time_Performance_2015_5.csv
Done with On_Time_On_Time_Performance_2015_6.csv
Done with On_Time_On_Time_Performance_2015_7.csv
Done with On_Time_On_Time_Performance_2015_8.csv
Done with On_Time_On_Time_Performance_2015_9.csv

In [3]:
df = pd.read_csv('slim_airplanes_40perc.csv')

In [5]:
df.shape

(2125894, 13)

In [60]:
df[df['Cancelled'] == 1]['ArrDelay'].notnull().sum()

0

In [55]:
df[df['Cancelled'] == 1]['DepDelay'].notnull().sum()

0

In [56]:
df.head()

,Quarter,Month,UniqueCarrier,FlightNum,OriginAirportID,DestAirportID,CRSDepTime,DepDelay,CRSArrTime,ArrDelay,Cancelled,CancellationCode,Distance
0,1,1,AA,1,12478,12892,900,-5.0,1230,7.0,0.0,NaN,2475.0
1,1,1,AA,1,12478,12892,900,-10.0,1230,-19.0,0.0,NaN,2475.0
2,1,1,AA,1,12478,12892,900,-7.0,1230,-39.0,0.0,NaN,2475.0
3,1,1,AA,1,12478,12892,900,-7.0,1230,-12.0,0.0,NaN,2475.0
4,1,1,AA,1,12478,12892,900,-7.0,1230,-8.0,0.0,NaN,2475.0